*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
      
}
.banner{
    background-image: url(../Image/pexels-rubaitulazad-18253365.jpg);
    padding: 250px 0;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}
.text{
    color: white;
}
.skills-padding{
    padding: 70px 0;
}